<section class="container">
    <div class="page-header">
        <h1>Administrador de Marcas</h1>
    </div>
    <div>
        <div class="text-right">
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> Agregar Marca</button>
        </div>
        <div>
            <tr>
                &nbsp;
            </tr>
        </div>
        <div>
            <td>
                <table class="table table-striped" ng-table="marcasController.tablaMarcas">
                    <thead>
                        <tr>
                            <th class="text-center col-md-2"><strong>ID</strong></th>
                            <th class="text-center col-md-2"><strong>Marca</strong></th>
                            <th class="text-center col-md-2"><strong>Acciones</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="marca in marcasController.marcas">
                            <td>
                                {{marca.id}}		
                            </td>
                            <td>
                                {{marca.nombre}}		
                            </td>  
                            <td>
                                <button type="button" data-toggle="modal" data-target="#modal" ng-click="marcasController.abrirModal(marca)" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button ng-click="marcasController.eliminar(marca);" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td> 
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitulo">Nueva Marca</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <td><strong>Marca:</strong></td>
                            <td><input id="inputMarca" ng-model="marcasController.marcaInput" type="text" class="letras-only" maxlength="30" size="50" placeholder="Capture el nombre de la marca"></td>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="marcasController.guardar()"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>