<section class="container">
    <div class="page-header">
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Inventario</div>
        <div class="panel-body">
            <div>
                <tr>
                    &nbsp;
                </tr>
            </div>
            <label>Filtro: <input ng-model="searchText" maxlength="10"></label>
            <div>
                <tr>
                    &nbsp;
                </tr>
            </div>
            <table id="searchTextResults" class="table table-striped" ng-table="catalogoController.tablaInventario" class="">
                <thead>
                    <tr>
                        <th class="text-center col-md-2"><strong>Modelo</strong></th>
                        <th class="text-center col-md-2"><strong>Marca</strong></th>
                        <th class="text-center col-md-2"><strong>Color</strong></th>
                        <th class="text-center col-md-2"><strong>Tipo</strong></th>
                        <th class="text-center col-md-2"><strong>Km. Recorridos</strong></th>
                        <th class="text-center col-md-2"><strong>Fecha de Ingreso</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in catalogoController.inventario | filter:searchText">
                        <td>
                            {{row.modelo}}		
                        </td>
                        <td>
                            {{row.marca}}		
                        </td>
                        <td>
                            {{row.color}}		
                        </td>  
                        <td>
                            {{row.tipo}}		
                        </td>  
                        <td>
                            {{row.kilometraje}}		
                        </td>
                        <td>
                            {{row.fechaIngreso}}		
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>