<section class="container">
    <div class="page-header">
        <h1>Administrador de Modelos</h1>
    </div>
    <div>
        <div class="text-right">
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> Agregar Modelo</button>
        </div>
        <div>
            <tr>
                &nbsp;
            </tr>
        </div>
        <div>
            <table class="table table-striped" ng-table="marcasController.tablaModelos" class="">
                <thead>
                    <tr>
                        <th class="text-center col-md-2"><strong>Modelo</strong></th>
                        <th class="text-center col-md-2"><strong>Marca</strong></th>
                        <th class="text-center col-md-2"><strong>Tipo</strong></th>
                        <th class="text-center col-md-2"><strong>Acciones</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="modelo in modelosController.modelos">
                        <td>
                            {{modelo.nombre}}		
                        </td>
                        <td>
                            {{modelo.marca}}		
                        </td>
                        <td>
                            {{modelo.tipo}}		
                        </td>    
                        <td>
                            <button type="button" data-toggle="modal" data-target="#modal" ng-click="modelosController.abrirModal(modelo)" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button ng-click="modelosController.eliminar(modelo);" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitulo">Nuevo Modelo</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <td><strong>Modelo:</strong></td>
                            <td><input id="inputModelo" ng-model="modelosController.modeloInput" type="text" maxlength="30"  size="15" placeholder="Capture el nombre del modelo"></td>
                            <strong>Marcas</strong>
                            <select id="marca"  name="comboMarcas" ng-options="option.id as option.nombre for option in modelosController.marcas" ng-model="modelosController.marca" required chosen>
                                <option value="">Seleccione</option>
                            </select>
                            <strong>Tipos</strong>
                            <select id="tipo"  name="comboTipos" ng-options="option.id as option.nombre for option in modelosController.tipos" ng-model="modelosController.tipo" required chosen>
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="modelosController.cancelar()" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="modelosController.guardar()"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>