<!DOCTYPE html>
<html lang="en" ng-app="agenciaApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
    <title>Agencia</title>

    <script src="assets/jquery/dist/jquery.js"></script>
    <script src="assets/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/angular/angular.js"></script>
    <script src="assets/angular-animate/angular-animate.js"></script>
    <script src="assets/angular-resource/angular-resource.js"></script>
    <script src="assets/angular-route/angular-route.js"></script>
    

    <!--config app-->
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    
    <!--servicios-->
    <script src="app/services/services.module.js"></script>
    <script src="app/services/marcas.service.js"></script>
    <script src="app/services/modelos.service.js"></script>
    <script src="app/services/colores.service.js"></script>
    <script src="app/services/inventario.service.js"></script>
    <script src="app/services/tipos.service.js"></script>

    <!--modulos-->
    <script src="app/marcas/marcas.module.js"></script>
    <script src="app/marcas/marcas.component.js"></script>

    <script src="app/catalogo/catalogo.module.js"></script>
    <script src="app/catalogo/catalogo.component.js"></script>
    
    <script src="app/inventario/inventario.module.js"></script>
    <script src="app/inventario/inventario.component.js"></script>

    <script src="app/modelos/modelos.module.js"></script>
    <script src="app/modelos/modelos.component.js"></script>
</head>
<body >
    <link rel="stylesheet" href="navbar.css">
    <!--barra menu-->
    <div id="main">
      <nav class="{{active}}">
        <a href="#!/home" class="home" ng-click="active='home'">Home</a>
        <a href="#!/marca" class="projects" ng-click="active='projects'">Marca</a>
        <a href="#!/modelo" class="services" ng-click="active='services'">Modelo</a>
        <a href="#!/inventario" class="contact" ng-click="active='contact'">Inventario</a>
      </nav>
    </div>
    <!--contenedor-->
    <div ng-view></div>
</body>
</html>