<section class="container">
    <div class="page-header">
        <h1>Administrador de Inventario</h1>
    </div>
    <div>
        <div class="panel panel-success">
            <div class="panel-heading">Agregar al Inventario</div>
            <div class="panel-body" >
                <strong>Modelo:</strong>
                <select id="marca"  name="comboModelos" ng-options="option.id as option.nombre for option in inventarioController.modelos" ng-model="inventarioController.modelo" ng-change="inventarioController.modeloMarcaTipo()" required chosen>
                    <option value="">Seleccione</option>
                </select>

                <strong>Marcas:</strong>
                <select id="marca"  name="comboMarcas" ng-options="option.id as option.nombre for option in inventarioController.marcas" ng-model="inventarioController.marca" required chosen>
                    <option value="">Seleccione</option>
                </select>

                <strong>Tipos:</strong>
                <select id="tipo"  name="comboTipos" ng-options="option.id as option.nombre for option in inventarioController.tipos" ng-model="inventarioController.tipo" required chosen>
                    <option value="">Seleccione</option>
                </select>

                <strong>Color:</strong>
                <select id="marca"  name="comboColores" ng-options="option.id as option.nombre for option in inventarioController.colores" ng-model="inventarioController.color" required chosen>
                    <option value="">Seleccione</option>
                </select>

                <strong>Kilometraje:</strong>
                <input id="inputKilometraje" class="number-only" maxlength="10" size="5" placeholder="kms">
                
                <label>Fecha de ingreso:</label>
                <input type="date" id="fechaIngreso" min="2020-01-01" max="2030-12-31" ng-model="inventarioController.fechaIngreso">
                <button class="btn btn-success" type="button" id="btnGuardar" ng-click="inventarioController.guardar()" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
        <div>
            <tr>
                &nbsp;
            </tr>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Inventario</div>
            <div class="panel-body">
                <table class="table table-striped" ng-table="inventarioController.tablaInventario" class="">
                    <thead>
                        <tr>
                            <th class="text-center col-md-2"><strong>Modelo</strong></th>
                            <th class="text-center col-md-2"><strong>Marca</strong></th>
                            <th class="text-center col-md-2"><strong>Color</strong></th>
                            <th class="text-center col-md-2"><strong>Tipo</strong></th>
                            <th class="text-center col-md-2"><strong>Km. Recorridos</strong></th>
                            <th class="text-center col-md-2"><strong>Fecha de Ingreso</strong></th>
                            <th class="text-center col-md-2"><strong>Acciones</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="inventario in inventarioController.inventario">
                            <td>
                                {{inventario.modelo}}		
                            </td>
                            <td>
                                {{inventario.marca}}		
                            </td>
                            <td>
                                {{inventario.color}}		
                            </td>  
                            <td>
                                {{inventario.tipo}}		
                            </td>  
                            <td>
                                {{inventario.kilometraje}}		
                            </td>
                            <td>
                                {{inventario.fechaIngreso}}		
                            </td>  
                            <td class="btn-group btn-group-xs">
                                <button type="button" ng-click="inventarioController.editar(inventario);" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button type="button" ng-click="inventarioController.eliminar(inventario);" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                           <label id="mensajeModal"></label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="inventarioController.reload()" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>
